<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      layout:fragment="Content">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>UpConstruction Bootstrap Template - Contact</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->


    <!-- Template Main CSS File -->

    <!-- =======================================================
    * Template Name: UpConstruction
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>
<script th:inline="javascript" type="text/javascript">

  function checkSend () {
      let id = $('#USER_ID').val()
      let pwd = $('#USER_PWD').val()
      if(id == null || id == '') {
        alert('아이디는 필수 입니다')
        return false;
      }
      if(pwd == null || pwd == '') {
        alert('비밀번호는 필수 입니다')
        return false;
      }
      $("#loginForm").submit();
  }


</script>

<body>

<!-- ======= Header ======= -->
<!--  <header id="header" class="header d-flex align-items-center">-->
<!--    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">-->

<!--      <a href="index.bak" class="logo d-flex align-items-center">-->
<!--        &lt;!&ndash; Uncomment the line below if you also wish to use an image logo &ndash;&gt;-->
<!--        &lt;!&ndash; <img src="assets/img/logo.png" alt=""> &ndash;&gt;-->
<!--        <h1>UpConstruction<span>.</span></h1>-->
<!--      </a>-->

<!--      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>-->
<!--      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>-->
<!--      <nav id="navbar" class="navbar">-->
<!--        <ul>-->
<!--          <li><a href="index.bak">Home</a></li>-->
<!--          <li><a href="about.html">About</a></li>-->
<!--          <li><a href="services.html">Services</a></li>-->
<!--          <li><a href="projects.html">Projects</a></li>-->
<!--          <li><a href="blog.html">Blog</a></li>-->
<!--          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Dropdown 1</a></li>-->
<!--              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Dropdown 1</a></li>-->
<!--                  <li><a href="#">Deep Dropdown 2</a></li>-->
<!--                  <li><a href="#">Deep Dropdown 3</a></li>-->
<!--                  <li><a href="#">Deep Dropdown 4</a></li>-->
<!--                  <li><a href="#">Deep Dropdown 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Dropdown 2</a></li>-->
<!--              <li><a href="#">Dropdown 3</a></li>-->
<!--              <li><a href="#">Dropdown 4</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li><a href="contact.html" class="active">Contact</a></li>-->
<!--        </ul>-->
<!--      </nav>&lt;!&ndash; .navbar &ndash;&gt;-->

<!--    </div>-->
<!--  </header>&lt;!&ndash; End Header &ndash;&gt;-->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/bootstrap/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Login</h2>
            <ol>
                <li><a href="/static">Home</a></li>
                <li>Login</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <!--<div class="row gy-4">
                <div class="col-lg-6">
                    <div class="info-item  d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-map"></i>
                        <h3>Our Address</h3>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div>&lt;!&ndash; End Info Item &ndash;&gt;

                <div class="col-lg-3 col-md-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-envelope"></i>
                        <h3>Email Us</h3>
                        <p>contact@example.com</p>
                    </div>
                </div>&lt;!&ndash; End Info Item &ndash;&gt;

                <div class="col-lg-3 col-md-6">
                    <div class="info-item  d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-telephone"></i>
                        <h3>Call Us</h3>
                        <p>+1 5589 55488 55</p>
                    </div>
                </div>&lt;!&ndash; End Info Item &ndash;&gt;

            </div>-->

            <div class="row gy-4 mt-1">

                <!--          <div class="col-lg-6 ">-->
                <!--            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>-->
                <!--          </div>&lt;!&ndash; End Google Maps &ndash;&gt;-->

                <div class="col-lg-6" style="width:100%;">
                    <form th:action="@{/auth}" id="loginForm" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="userId" class="form-control" id="USER_ID" placeholder="아이디">
                            </div>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="userPw" id="USER_PWD" placeholder="비번">
                        </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center">
                    <button id="loginButton" type="button" onclick="checkSend()">로그인</button>
                </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->

<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

</body>

</html>