<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">

<style th:inline="css" type="text/css">
</style>

<footer id="footer" class="footer">

    <div class="footer-content position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info d-flex align-items-center">
                        <img src="/img/logo.png" alt="" class="sponsor__img1 first_img" style="width: 60%;">
                        <h4 style="white-space: nowrap; height: 25px; margin-left: 40px; opacity: 0.7;"> 서울특별시 송파구 삼학사로 87,3층 대표자:이승호 사업자등록번호:110111-8705472 <br/>
                            대표전화 02-1577-6984 이메일:majorplace.inc@gmail.com</h4>
                    </div>
                </div>
            </div>



            </div>
        </div>
    </div>

    <div class="footer-legal text-center position-relative">
        <div class="container">
            <div class="copyright">
                COPYRIGHT © 2024 MAJORPLACE, ALL RIGHTS RESERVED.
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
            </div>
        </div>
    </div>

</footer>
</html>