<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      layout:fragment="Content">


<style th:inline="css" type="text/css">
    .paging{margin-top:20px;white-space: nowrap; text-align: center; height: 37px; line-height:37px;}
    .paging a{display:inline-block; border:1px solid #f7f7f7; height:35px; width:35px;  vertical-align:middle; text-align:center; text-decoration:none; font-size:15px; color:#898989;background:#f7f7f7;}
    .paging .on{color:#fff; font-weight:bold; background:#333;}
    .paging .prev,.pagination .next{height:35px; width:35px; border:1px solid #ebebeb;overflow:hidden;position:relative; }
    .paging .prev.end,.pagination .next.end{height:35px; width:35px; }
    .paging .prev{background:#ebebeb url("") no-repeat center center; margin-right:11px;}
    .paging .prev.end{background:#ebebeb url("") no-repeat center center; margin-right:4px; border-right:0;}
    .paging .next{background:#ebebeb url("") no-repeat center center; margin-left:12px;}
    .paging .next.end{background:#ebebeb url("") no-repeat center center; margin-left:4px; border-left:0;}
    .customInput {
        width: 100%;
        height: 32px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
        border-width: 0 0 1px;
    }
    .gocenter {
        justify-content:center ;
    }

    .file_input label {
        display: inline-block;
        padding: .5em .75em;
        color: #a7acb1;
        float: right;
        font-size: inherit;
        line-height: normal;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;
    }
    /*.file_input input[type="file"] {  !* 파일 필드 숨기기 *!*/
    /*    padding: 0;*/
    /*    border: 0;*/
    /*}*/

</style>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Tables / Data - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">




    <script th:inline="javascript" type="text/javascript">
        const removeFileId = (function() {
            const ids = [];
            return {
                add(id) {
                    if (ids.includes(id)) {
                        return false;
                    }
                    ids.push(id);
                },
                getAll() {
                    return ids;
                }
            }
        }());


        window.onload = () => {
            findAllFile();
        }

        let subject =$('#SUBJECT').val();
        let company= $('#COMPANY_NM').val();
        let MESSAGE = $('#MESSAGE').val();
        let mb_nm =$('#MB_NM').val();
        let email =$('#EMAIL_ADDR').val();

        const updateQA = () =>
        {
            let confirmation = confirm("수정 하시겠습니까?");
            if (confirmation) {
                $("#form").attr("action","/admin/updateQA");
                const form = document.getElementById('form');
                form.removeFileIds.value = removeFileId.getAll().join();
                $("#form").submit();

                alert('수정 완료')
            }

        }

        const deleteQA = () =>
        {
            let confirmation = confirm("정말 삭제 하시겠습니까?");
            if (confirmation) {
                $("#form").attr("action","/admin/deleteQA");
                $("#form").submit();
                alert('삭제 되었습니다.')
            }

        }
        const findAllFile = () => {
            // 1. API 호출
            const questionSEQ = $('#SEQ').val();
            const response = getJson(`/question/files/${questionSEQ}`)
            // 2. 로직 종료
            if (response.length < 1) {
                return false;
            }


            let fileHtml = '<div class="file_down"><div class="cont">';

            // response.forEach(row => {
            //     fileHtml += `<a href="/question/${questionSEQ}/files/${row.seq}/download"><span class="icons"><i class="fas fa-folder-open"></i></span>${row.file_NAME}</a>`;
            //     fileHtml += '<br/><br/>'
            // })
            fileHtml += ` <div>

                <div class="file_input">
                    <input type="text" readonly style="color: #00b3ff" id="firstText"/>
                    <label for="file">
                        <input type="file" name="files" id ="file" onchange="selectFile(this);"/>
                    </label>
                </div>

                <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
            </div>`

            // 4. 파일 HTML 렌더링
            document.getElementById('file_list').innerHTML = fileHtml;

            // 4. 업로드 영역 추가
            for (let i = 0, len = (response.length - 1); i < len; i++) {
                addFile();
            }

            // 5. 파일 선택 & 삭제 이벤트 재선언 & 파일명 세팅
            const filenameInputs = document.querySelectorAll('.file_list input[type="text"]');
            filenameInputs.forEach((input, i) => {
                const fileInput = input.nextElementSibling.firstElementChild;
                const fileRemoveBtn = input.parentElement.nextElementSibling;

                fileInput.setAttribute('onchange', `selectFile(this, ${response[i].seq})`);
                fileRemoveBtn.setAttribute('onclick', `removeFile(this, ${response[i].seq})`);
                input.type="button"
                input.value = response[i].file_NAME;
                input.style.backgroundColor = 'white'
                input.style.color = '#00b3ff';
                input.style.border ='none'

                input.setAttribute('onclick' ,`window.location.href='/question/${questionSEQ}/files/${response[i].seq}/download'`)
            })

        }
        function addFile() {
            const fileDiv = document.createElement('div');
            fileDiv.innerHTML =`
                    <div class="file_input">
                        <input type="text" readonly  />
                        <label for ="file">
                            <input type="file" name="files" id ="file" onchange="selectFile(this);" />
                        </label>
                    </div>
                    <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                     <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
                `;
            document.querySelector('.file_list').appendChild(fileDiv);
        }

        function selectFile(element, id) {

            const file = element.files[0];
            const filename = element.closest('.file_input').firstElementChild;

            // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
            if ( !file ) {
                filename.value = '';
                return false;
            }

            // 2. 파일 크기가 10MB를 초과하는 경우
            const fileSize = Math.floor(file.size / 1024 / 1024);
            if (fileSize > 10) {
                alert('10MB 이하의 파일로 업로드해 주세요.');
                filename.value = '';
                element.value = '';
                return false;
            }

            // 3. 파일명 지정
            filename.value = file.name;

            // 4. 삭제할 파일 id 추가
            if (id) {
                removeFileId.add(id);
            }
        }
        function removeFile(element, id) {
            // 1. 삭제할 파일 id 추가
            if (id) {
                removeFileId.add(id);
            }
            // 2. 파일 영역 초기화 & 삭제

            const fileAddBtn = element.nextElementSibling;
            if (fileAddBtn) {
                const inputs = element.previousElementSibling.querySelectorAll('input');
                inputs.forEach(input => input.value = '')
                if (!$('#firstText').val()) {
                    return false;
                }
                element.parentElement.remove();
                return false;
            }
            console.log( '============',element.parentElement)
            element.parentElement.remove();
        }
    </script>


    <!-- Template Main CSS File -->

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->

<!-- ======= Sidebar ======= -->

    <ul class="sidebar-nav" id="sidebar-nav" style="padding: inherit;">
        <div class="breadcrumbs d-flex align-items-center"
        >
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>상세 내역</h2>

                <ol>
                    <li><a href="/">Home</a></li>
                    <li>접수 내용</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->



        <section class="section">
            <div class="row gocenter">
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">

                            <!-- Horizontal Form -->
                            <form  method="post" id ="form" enctype="multipart/form-data">
                                <input type="hidden" id="removeFileIds" name="removeFileIds" />
                                <input type="hidden" th:value="${result.SEQ}" name="SEQ" id ="SEQ">
                                <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label"><h5>제목</h5></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control customInput" id="SUBJECT" name="SUBJECT" th:value="${result.SUBJECT}" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">회사명</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="COMPANY_NM" name="COMPANY_NM" th:value="${result.COMPANY_NM}" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label" >이름</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="MB_NM" name="MB_NM" th:value="${result.MB_NM}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">이메일</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="EMAIL_ADDR" name="EMAIL_ADDR" th:value="${result.EMAIL_ADDR}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">메세지</label>
                                    <div class="col-sm-10">
                                        <textarea rows="6"  class="form-control" id="MESSAGE" name="MESSAGE"
                                                  th:value="${result.MESSAGE}"  th:text="${result.MESSAGE}"></textarea>
                                    </div>
                                </div>
                                <table>
                                    <tr>

                                        <td colspan="3">
                                        <div class="file_list" id ='file_list'>
                                            <td id="files" colspan="3">

                                            </td>
<!--                                                <div>-->
<!--                                                    <div class="file_input">-->
<!--                                                        <input type="text" readonly />-->
<!--                                                        <label> 첨부파일-->
<!--                                                            <input type="file" name="files" onchange="selectFile(this);" />-->
<!--                                                        </label>-->
<!--                                                    </div>-->
<!--                                                    <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>-->
<!--                                                    <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>-->
<!--                                                </div>-->
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <div class="text-center">
                                    <button type="button" onclick="updateQA()" class="btn btn-primary">수정</button>
                                    <button type="button" onclick="deleteQA()" class="btn btn-primary">삭제</button>
                                </div>

                            </form><!-- End Horizontal Form -->

                            <form th:action="@{/admin/deleteQA}" id = "deleteQA" method="post">
                                <div class="text-center">
                                </div>
                            </form>
                        </div>
                    </div>



                </div>


            </div>
        </section>

        </main><!-- End #main -->


        <!-- ======= Footer ======= -->


        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
    </ul>

</body>

</html>